.wrapperSocialSidebar {
  background: var(--card-bg);
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  overflow: hidden;
  height: 370px;
}

.wrapperSocialSidebar h6 {
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  color: var(--default-color--);
  font-size: 16px;
  font-weight: bold;
}

.Social {
  padding: 20px;
}

.Social p {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.Social p svg {
  color: var(--icon-color);
  font-size: 15px;
}

.Social p span {
  color: var(--text-color-secondary);
  font-size: 13px;
  margin: 0 5px 0 10px;
}

.Social p a {
  font-size: 13px;
  color: var(--default-color3--);
}
