@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&family=Noto+Sans:wght@300;400;500&display=swap');

@import "tailwindcss";

:root {
    --default-color--: #293c7a;
    --default-color2--: #f67a39;
    --default-color3--: #1890ff;
    --default-color4--: #cbc1f1;
    --default-font-ar--: 'Noto Kufi Arabic', 'Noto Sans', sans-serif;
    --default-font-en--: 'Noto Sans', 'Noto Kufi Arabic', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: 'Noto Kufi Arabic' !important;
}

.ant-upload-wrapper{
    width: 100%;
    height: 100%;
}

.ant-upload-list-item-container , 
.ant-upload-select{
    width: 100% !important;
    height: 200px !important;
}

.ant-upload-wrapper *{
    border-width: 0 !important;
    height: 200px !important;
}